html, body, h1, h2, h3, h4, h5, ul, li, figure, p, iframe {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin-top: 10px;

}

*, *:before, *:after {
	box-sizing: inherit;
}

.phone:after, .phone .camera:before, .phone .camera:after, .phone .screen, .phone .screen:after, .phone .top div, .phone .camera, .phone .speaker:after, .phone .bottom div, .phone .bottom:before, .phone .bottom:after, .iphone .side-buttons div, .iphone:before, .iphone .side-buttons:before, .iphone .side-buttons:after, .phone:before, .phone .top:after, .phone .bottom div:before, .iphone .side-buttons, .phone, .phone .top, .phone .bottom, .phone .speaker {
	position: absolute;

}

.phone:after, .phone .camera:before, .phone .camera:after, .phone .screen, .phone .screen:after, .phone .top div, .phone .camera, .phone .speaker:after, .phone .bottom div, .phone .bottom:before, .phone .bottom:after, .iphone .side-buttons div {
	margin: auto;
}

.phone:after, .phone .camera:before, .phone .camera:after, .phone .screen, .phone .screen:after, .phone .top div, .phone .camera, .phone .speaker:after, .phone .bottom div, .phone .bottom:before, .phone .bottom:after {
	right: 0px;
	left: 0px;
}

.phone:after, .phone .camera:before, .phone .camera:after, .phone .screen, .phone .screen:after, .iphone .side-buttons div {
	top: 0px;
	bottom: 0px;
}

body {
	background: #cd4c4d;
}

.iphone:before, .iphone .side-buttons:before, .iphone .side-buttons:after, .phone:before, .phone:after, .phone .top:after, .phone .camera:before, .phone .camera:after, .phone .speaker:after, .phone .bottom div:before, .phone .bottom:before, .phone .bottom:after, .phone .screen:after {
	content: ' ';
}

img {
	width: 100%;
}

.iphone {
	position: relative;
	margin: 25px auto;
	width: 281px;
	height: 591px;
}

.iphone:before {
	background: #1e1e1e;
	width: 45px;
	height: 4px;
	top: 0px;
	right: 47px;
	border-radius: 2px;
}

.iphone .side-buttons {
	height: 125px;
	width: 4px;
	top: 84px;
}

.iphone .side-buttons div, .iphone .side-buttons:before, .iphone .side-buttons:after {
	background: #1e1e1e;
	width: 4px;
	border-radius: 2px;
}

.iphone .side-buttons:before, .iphone .side-buttons:after {
	background: #1d1d1d;
}

.iphone .side-buttons:before {
	height: 26px;
}

.iphone .side-buttons div, .iphone .side-buttons:after {
	height: 20px;
	bottom: 0px;
}

.iphone .side-buttons div {
	top: 6px;
}

.phone {
	bottom: 0px;
	right: 0px;
	width: 278px;
	height: 588px;

}

.phone:before {
	width: 100%;
	height: 100%;
	border: 20px solid #1d1d1d;
	border-radius: 40px;

}

.phone:after {
	width: 270px;
	height: 580px;
	border: 3px solid;
	border-top-color: #252525;
	border-left-color: #252525;
	border-right-color: #212121;
	border-bottom-color: #212121;
	border-radius: 35px;
}

.phone .top, .phone .bottom {
	height: 83px;
	width: 100%;
	background: #1d1d1d;
}

.phone .bottom {
	bottom: 0px;
	border-radius: 0px 0px 40px 40px;
}

.phone span {
	display: block;
}

.phone .top {
	top: 0px;
	border-radius: 40px 40px 0px 0px;
	overflow: hidden;
}

.phone .top div {
	top: 23px;
	width: 55px;
	height: 35px;
}

.phone .top:after {
	top: -50px;
	right: 0px;
	width: 150px;
	height: 160px;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
	background: linear-gradient(to right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.phone .camera {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid;
	border-top-color: #1e1e1e;
	border-left-color: #262626;
	border-right-color: #1e1e1e;
	border-bottom-color: #262626;
}

.phone .camera:before, .phone .camera:after {
	border-radius: 50%;
}

.phone .camera:before {
	width: 12px;
	height: 12px;
	background: -webkit-linear-gradient(top, #0f0f0f, #1f1f1f);
	background: -o-linear-gradient(bottom, #0f0f0f, #1f1f1f);
	background: -moz-linear-gradient(bottom, #0f0f0f, #1f1f1f);
	background: linear-gradient(to bottom, #0f0f0f, #1f1f1f);
}

.phone .camera:after {
	width: 6px;
	height: 6px;
	border: 2px solid #2a2a2a;
	background: #1d1d1d;
}

.phone .speaker {
	bottom: 0px;
	width: 53px;
	height: 13px;
	background: #2a2a2a;
	border-radius: 10px;
	z-index: 5;
}

.phone .speaker:after {
	width: 54px;
	height: 12px;
	border: 3px solid;
	border-top-color: #181818;
	border-left-color: #181818;
	border-right-color: #111;
	border-bottom-color: #1e1e1e;
	border-radius: 10px;
}

.phone .bottom {
	bottom: 0px;
	border-radius: 0px 0px 40px 40px;
}

.phone .bottom div {
	top: 18px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #484848;
}

.phone .bottom:before, .phone .bottom:after {
	bottom: 0px;
	height: 6px;
	border-radius: 100%;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.phone .bottom:before {
	background: rgba(0, 0, 0, 0.6);
	bottom: -2px;
	width: 76%;
	opacity: 0.8;
}

.phone .bottom:after {
	background: rgba(0, 0, 0, 0.5);
	bottom: -3px;
	width: 90%;
	opacity: 0.3;
	height: 5px;
}

.phone .screen {
	top: 0px;
	width: 242px;
	height: 424px;
	border-radius: 3px;
	border: 3px solid;
	border-top-color: #252525;
	border-left-color: #252525;
	border-right-color: #212121;
	border-bottom-color: #252525;
	background-color: rgb(140,0,255);
	background:
		radial-gradient(120% 150%, rgb(140,0,255), black)

}

.phone .screen:after {
	left: -1px;
	width: 238px;
	height: 421px;
	border: 2px solid #000;
	border-radius: 3px;
}









.snuffTitle {
    color: rgb(255, 61, 61);
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 0 rgb(20, 20, 20), 0 1px black, 10px 0 black, 0 0px black;

}

.pick{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
    position: relative;
    text-shadow: 2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

body {
    background:
     rgb(165, 48, 165)
     radial-gradient(75% 150%, rgb(165,48,165), black)
    }

    
.buttonBoy {
 margin-left: auto;
 margin-right: auto;   
 display: block;    
 color: rgb(53, 133, 207);
 background-color: rgb( 26, 26, 26);
 border: solid;
 border-color: rgb(53, 133, 207);
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 font-size: 25px;
 font-family: 'Impact', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 letter-spacing: 2px;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 width: 50%;
 z-index: 5;
 position: relative;
 cursor: pointer;
 outline-color: rgb(53, 133, 207);
 text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;


}

.buttonGirl {
    margin-left: auto;
    margin-right: auto;  
    margin-top: 18px; 
    display: block;    
    color: rgb(226, 118, 226);
    background-color: rgb(26, 26, 26);
    border: solid;
    border-color: rgb(226,118,226);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
	letter-spacing: 2px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: 'Impact', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    z-index: 5;
    position: relative;
	cursor: pointer;
	outline-color: rgb(226,118,226);
	text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;




   }

   #buttonNumber {
    margin-left: auto;
    margin-right: auto;  
    margin-top: 20px; 
    display: block;    
    color: whitesmoke;
    background-color: rgb(204, 39, 39);
    border: solid;
    border-color: rgba(0,0,0,0.24);
    padding: 5px 16px;
    text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;
	font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 60%;
    border-radius: 20px;
    z-index: 5;
    position: relative;
    cursor: pointer;
    outline: 0;

   }

   .id{
    color: white;
	font-size: 20px;
	font-weight: 500;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   }

   .idtim{
  
		color: white;
		animation: blinker 1s linear infinite;
		z-index: 10;
		font-size: 100px;
		font-weight:500;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		margin-top: 485px;
    
   }

   @keyframes blinker {
	   50% {
		   opacity: 0;
	   }
   }
   .snuff{
       font-size: 20px;
   }

   .hidden {
       visibility: hidden;
   }

  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  .footer {
	  position: relative;
	  left: 0px;
	  bottom: -10px;
	  width: 100%;
	  color: white;
	  text-align: center;
	  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  
	  
	}

.logopicbottom {
	width: 300px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 15px;
		  }

.logopicupper {
	width: 300px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
				  }

				  .logopicupper2 {
					width: 200px;
					height: 40px;
					display: block;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
								  }

.headerme{
	position: relative;
	top: 0;
	width: 100%;
	height: 50%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	z-index: 6;
	
	
}


.logo {
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    bottom: 20px;
    text-shadow: 10px black, 0px black, 0 10px black, 0 10px black;

}

.logo2 {
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    bottom: 20px;
	text-shadow: 50px 50px black; 
}

.inst_photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	text-align: center;
	width: 350px;
	height: auto;
	border: 12px dashed black; 
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
  

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
	width: 300px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;	
	 background-color: transparent;
	 border: none;
}